
// Start Sidebar

//- .sidebar.d-none.d-sm-none.d-md-none.d-lg-block
//-   i.fas.fa-times.fa-2x.close-sidebar.close.hvr-bounce-in-close

//-   .logo.text-center.mt-3
//-     img(src='imges/logo.png' alt='logo' class='img-fluid hvr-pulse')

//-   ul.list-unstyled.text-center
//-     li.hvr-wobble-horizontal #[a(href="index.html") الاستماع]
//-     li.hvr-wobble-horizontal #[a(href="reading.html") القراءة]
//-     li.hvr-wobble-horizontal #[a(href="Writing.html") الكتابة]
//-     li.hvr-wobble-horizontal #[a(href="speaking.html") التحدث]
//-     li.hvr-wobble-horizontal #[a(href="Rhetoric.html") البلاغة]
//-     li.hvr-wobble-horizontal #[a(href="Grammar-rules.html") القواعد النحوية]


// End Sidebar


