
.head-border {
  &:after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: $main-color;
    color: $main-color;
    margin: 25px auto;
    margin-bottom: 80px;
  }
}

%transition {
  @include prefixer (transition, all .5s ease-in-out, webkit moz o);
}
