

// $main-color: #6AD044;
$main-color: #37A000;
$sub-color: #1D4354;
$other-color: #fff;
$green-color: #6AD044;
$gray-color: #ddd;
$red-color: #CC2D4D;
$second-color: #52e9e2;


$float-right: right;
$float-left: left;



